name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  PNPM_VERSION: 8

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: pnpm

      - name: Bump version
        run: pnpm version --no-git-tag-version ${{ github.event.release.tag_name }}

      - name: Update Changelog
        uses: stefanzweifel/changelog-updater-action@v1.12.0
        with:
          latest-version: ${{ github.event.release.tag_name }}
          release-notes: ${{ github.event.release.body }}

      - name: Commit release files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: ${{ github.event.release.target_commitish }}
          commit_message: "chore(release): [skip-ci] ${{ github.event.release.tag_name }}"
          file_pattern: CHANGELOG.md package.json
